.dark-square {
  color: #fff;
  border-radius: 50px;
  margin: 1em;
  font-size: 1.5em;
  font-weight: 900;
  padding: 1.5em;

}

.center-content {
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  display: grid;
}
