i.big-icon {
  font-size: 2.5em;
  padding: .5em;
  border-radius: 50%;
  cursor: pointer;
}

.fa-twitter {
  background-color: #0dcaf0;
  color: #fff;
}
.fa-sign-in {
  background-color: #ff4545;
  color: #fff;
}

.fa-youtube {
  background-color: #c50000;
  color: #fff;
}
.fa-discord {
  background-color: #8c67f1;
  color: #fff;
}

.nav-item {
  display: grid;
  align-content: center;
  justify-content: center;
}

.navbar {
  background-color: transparent;
  height: 20vh;
}